$color-background: rgba(76, 82, 85, 0.4);
$color-background-light: rgba(174, 181, 185, 0.5);
$color-background-dark: rgba(76, 82, 85, 0.8);
$color-shadow-dark:rgba(76, 82, 85, 1);
$color-border: rgba(228, 227, 227, 0.2);
$color-text: #000000;
